
.quotebody{
    background-image: url('./background1.jpeg');
    background-size: cover;
   display: flex;
   flex-direction: column;
   justify-content: center;
    height: 300px;
    width:540px;
    color:aliceblue;
    border-radius: 2rem;
       /* background-repeat: no-repeat; */
}
#quote{
    position: relative;
    left:2rem;
    font-size: 1.5em;
    font-weight: bold;
    max-width: 300px;
    border-radius: 2rem;
}
p{
    position: relative;
    left:2rem;
    font-size: 1.5em;
    font-weight: bold;
}